#!/usr/bin/env python
PACKAGE = "local_navigation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# sample
# gen.add("str_param", str_t, 0, "A string parameter", "Hello World")
# gen.add("bool_param", bool_t, 0, "A Boolean parameter", True)
size_enum = gen.enum([ gen.const("None", int_t, 0, "A small constant"),
                  gen.const("debug1", int_t, 1, "A medium constant"),
                  gen.const("debug2", int_t, 2, "A large constant")],
                  "An enum to set size")
gen.add("debugType", int_t, 0, "A size parameter which is edited via an enum", 0, 0, 2, edit_method=size_enum)

exit(gen.generate(PACKAGE, "local_navigation", "obstacleAvoidance"))